In [4]:
import analysis_compass as analysis

In [10]:
df= analysis.prepare_compass_data()

0      -1.00
1      -1.00
2      -1.00
3        NaN
4        NaN
        ...
7209   -1.00
7210   -1.00
7211   -1.00
7212   -1.00
7213   -2.00
Name: days_b_screening_arrest, Length: 7214, dtype: float64
6172
{'c_charge_degree': ['M', 'F'], 'c_charge_desc': ['Trespass Property w/Dang Weap', 'Voyeurism', 'Computer Pornography', 'Aggravated Assault', 'Trespass Other Struct/Conve', 'Unlaw Use False Name/Identity', 'Traff In Cocaine <400g>150 Kil', 'Possess Tobacco Product Under 18', 'Unauth C/P/S Sounds>1000/Audio', 'Grand Theft Dwell Property', 'Lewd/Lasciv Molest Elder Persn', 'Sell or Offer for Sale Counterfeit Goods', 'Offn Against Intellectual Prop', 'Oper Motorcycle W/O Valid DL', 'Petit Theft', 'Abuse Without Great Harm', 'Retail Theft $300 2nd Offense', 'Possession Firearm School Prop', 'Lewd/Lasc Battery Pers 12+/<16', 'Agg Assault W/int Com Fel Dome', 'Possession of Hydrocodone', 'Exposes Culpable Negligence', 'Possession of Cannabis', 'Stalking (Aggravated)', 'Prostitution/Lewd Act Assignation', 'Murder In 2nd Degree W/firearm', 'Tampering with a Victim', 'Unauthorized Interf w/Railroad', 'Carjacking w/o Deadly Weapon', 'Possession of Morphine', 'Open Carrying Of Weapon', 'Criminal Mischief>$200<$1000', 'Battery Spouse Or Girlfriend', 'Possession Of 3,4Methylenediox', 'Possession Of Amphetamine', 'Del of JWH-250 2-Methox 1-Pentyl', 'Battery Emergency Care Provide', 'DUI Blood Alcohol Above 0.20', 'Purchase/P/W/Int Cannabis', 'DWLS Canceled Disqul 1st Off', 'Operating W/O Valid License', 'Aggravated Battery', 'Armed Trafficking in Cannabis', 'Unlaw LicTag/Sticker Attach', 'Refuse to Supply DNA Sample', 'Theft/To Deprive', 'Tamper With Witness/Victim/CI', 'DUI - Enhanced', 'Offer Agree Secure For Lewd Act', 'Poss Oxycodone W/Int/Sell/Del', 'Del 3,4 Methylenedioxymethcath', 'Poss Anti-Shoplifting Device', 'Refuse Submit Blood/Breath Test', 'Exhibition Weapon School Prop', 'Grand Theft in the 1st Degree', 'Money Launder 100K or More Dols', 'Traffick Amphetamine 28g><200g', 'Deliver Cannabis', 'Trans/Harm/Material to a Minor', 'Uttering Forged Credit Card', 'Felony Committing Prostitution', 'Trespass Structure/Conveyance', 'Felony Battery', 'Poss 3,4 MDMA (Ecstasy)', 'Poss Unlaw Issue Driver Licenc', 'Possession Of Diazepam', 'Pos Methylenedioxymethcath W/I/D/S', 'Sound Articles Over 100', 'Use Scanning Device to Defraud', 'Viol Injunct Domestic Violence', 'Live on Earnings of Prostitute', 'Tresspass Struct/Conveyance', 'Solic to Commit Battery', 'Aggrav Child Abuse-Causes Harm', 'Video Voyeur-<24Y on Child >16', 'Introduce Contraband Into Jail', 'Attempt Armed Burglary Dwell', 'Poss of Firearm by Convic Felo', 'Possession of Alcohol Under 21', 'Lewdness Violation', 'Aggrav Child Abuse-Agg Battery', 'Agg Battery Grt/Bod/Harm', 'Battery On A Person Over 65', 'Viol Prot Injunc Repeat Viol', 'PL/Unlaw Use Credit Card', 'Poss/pur/sell/deliver Cocaine', 'Posses/Disply Susp/Revk/Frd DL', 'Deliver Alprazolam', 'Manslaughter W/Weapon/Firearm', 'Traffic Counterfeit Cred Cards', 'Battery On Fire Fighter', 'Del Cannabis For Consideration', 'False Ownership Info/Pawn Item', 'Bribery Athletic Contests', 'Sell/Man/Del Pos/w/int Heroin', 'Poss Pyrrolidinobutiophenone', 'Littering', 'Poss of Methylethcathinone', 'Possession Of Paraphernalia', 'Possession Child Pornography', 'Possession Of Heroin', 'Prostitution/Lewdness/Assign', 'Unlicensed Telemarketing', 'Obstruct Fire Equipment', 'Consume Alcoholic Bev Pub', 'Disorderly Conduct', 'Burglary Conveyance Armed', 'Possession Of Anabolic Steroid', 'Burglary Conveyance Occupied', 'Shoot Into Vehicle', 'Poss Similitude of Drivers Lic', 'Attempted Deliv Control Subst', 'Structuring Transactions', 'Crimin Mischief Damage $1000+', 'Sexual Performance by a Child', 'Disorderly Intoxication', 'Harm Public Servant Or Family', 'Intoxicated/Safety Of Another', 'Defrauding Innkeeper', 'Poss Of 1,4-Butanediol', 'Ride Tri-Rail Without Paying', 'Uttering Worthless Check +$150', 'Criminal Mischief', 'Possess Drug Paraphernalia', 'Crim Use of Personal ID Info', 'Threat Public Servant', 'Burglary Structure Assault/Batt', 'Possession of Oxycodone', 'Hiring with Intent to Defraud', 'Robbery W/Deadly Weapon', 'Viol Injunction Protect Dom Vi', 'Leaving the Scene of Accident', 'Possession Of Alprazolam', 'Carjacking with a Firearm', 'Reckless Driving', 'Solicit Purchase Cocaine', 'Solicit Deliver Cocaine', 'Fraudulent Use of Credit Card', 'Del Cannabis At/Near Park', 'Solicitation On Felony 3 Deg', 'Burglary With Assault/battery', 'Possess Cannabis/20 Grams Or Less', 'Criminal Mischief Damage <$200', 'Misuse Of 911 Or E911 System', 'Possession of Methadone', 'arrest case no charge', 'Unlawful Conveyance of Fuel', 'Poss Cntrft Contr Sub w/Intent', 'Offer Agree Secure/Lewd Act', 'Trespass On School Grounds', 'Possession Of Phentermine', 'Attempted Burg/struct/unocc', 'Strong Armed  Robbery', 'Fail To Redeliv Hire/Leas Prop', 'Issuing a Worthless Draft', 'Aggravated Assault W/o Firearm', 'Poss/Sell/Del Cocaine 1000FT Sch', 'Burglary Unoccupied Dwelling', 'Assault', 'Fleeing or Eluding a LEO', 'Resist/Obstruct W/O Violence', 'Poss Alprazolam W/int Sell/Del', 'Unl/Disturb Education/Instui', 'Resist Officer w/Violence', 'Deliver Cocaine', 'Possession of Hydromorphone', 'Escape', 'Aiding Escape', 'Agg Abuse Elderlly/Disabled Adult', 'Opert With Susp DL 2nd Offens', 'False Motor Veh Insurance Card', 'Poss3,4 Methylenedioxymethcath', 'Violation of Injunction Order/Stalking/Cyberstalking', 'Aggravated Assault W/Dead Weap', 'Burglary Dwelling Assault/Batt', 'Grand Theft in the 3rd Degree', 'Aggravated Battery On 65/Older', 'Burgl Dwel/Struct/Convey Armed', 'DUI/Property Damage/Persnl Inj', 'Interference with Custody', 'Poss Meth/Diox/Meth/Amp (MDMA)', 'Grand Theft on 65 Yr or Older', 'Leave Acc/Attend Veh/More $50', 'Burglary Dwelling Armed', 'Deliver 3,4 Methylenediox', 'Poss Tetrahydrocannabinols', 'Lewd Act Presence Child 16-', 'Possess Mot Veh W/Alt Vin #', 'Unauth Poss ID Card or DL', 'Burglary Dwelling Occupied', 'Soliciting For Prostitution', 'Drivg While Lic Suspd/Revk/Can', 'Trespassing/Construction Site', 'Cruelty Toward Child', 'Throw Missile Into Pub/Priv Dw', 'Tamper With Witness', 'Aggravated Assault w/Firearm', 'Grand Theft of a Fire Extinquisher', 'Poss Firearm W/Altered ID#', 'Robbery Sudd Snatch No Weapon', 'Possession Of Carisoprodol', 'Manufacture Cannabis', 'Neglect/Abuse Elderly Person', 'Deliver Cocaine 1000FT Park', 'Culpable Negligence', 'Sex Battery Deft 18+/Vict 11-', 'Depriv LEO of Protect/Communic', 'Throw In Occupied Dwell', 'Battery On Parking Enfor Speci', 'Manage Busn W/O City Occup Lic', 'Att Tamper w/Physical Evidence', 'Arson in the First Degree', 'Felony DUI - Enhanced', 'Aggravated Battery (Firearm/Actual Possession)', 'Fail Register Vehicle', 'Burglary Conveyance Assault/Bat', 'Driving Under The Influence', 'Conspiracy Dealing Stolen Prop', 'Leaving Acc/Unattended Veh', 'Lve/Scen/Acc/Veh/Prop/Damage', 'Poss Cocaine/Intent To Del/Sel', 'Poss Pyrrolidinovalerophenone', 'Felony DUI (level 3)', 'Carrying Concealed Firearm', 'Forging Bank Bills/Promis Note', 'Traffick Oxycodone     4g><14g', 'Aggrav Battery w/Deadly Weapon', 'Possession Burglary Tools', 'Attempted Robbery  Weapon', 'Aggravated Assault W/dead Weap', 'Unlaw Lic Use/Disply Of Others', 'Retail Theft $300 1st Offense', 'Felon in Pos of Firearm or Amm', 'Obstruct Officer W/Violence', 'Disrupting School Function', 'D.U.I. Serious Bodily Injury', 'Possession of Codeine', 'Sale/Del Counterfeit Cont Subs', 'Harass Witness/Victm/Informnt', 'Battery on a Person Over 65', 'Use of Anti-Shoplifting Device', 'Prowling/Loitering', 'Poss Contr Subst W/o Prescript', 'Susp Drivers Lic 1st Offense', 'False Info LEO During Invest', 'Murder in the First Degree', 'Use Computer for Child Exploit', 'Delivery of 5-Fluoro PB-22', 'Trespass Struct/Conveyance', 'Imperson Public Officer or Emplyee', 'Tresspass in Structure or Conveyance', 'Lease For Purpose Trafficking', 'Cruelty to Animals', 'Aide/Abet Prostitution Lewdness', 'Lewd or Lascivious Molestation', 'Att Burgl Conv Occp', 'Deliver Cocaine 1000FT Store', 'Defrauding Innkeeper $300/More', 'DUI- Enhanced', 'Fel Drive License Perm Revoke', 'Aggr Child Abuse-Torture,Punish', 'Assault Law Enforcement Officer', 'False Bomb Report', 'Counterfeit Lic Plates/Sticker', 'Deliver Cannabis 1000FTSch', 'Felony/Driving Under Influence', 'Agg Fleeing and Eluding', 'Felony Petit Theft', 'Robbery W/Firearm', 'Violation License Restrictions', 'Petit Theft $100- $300', 'Kidnapping / Domestic Violence', 'DWLS Susp/Cancel Revoked', 'Possession of LSD', 'Interfere W/Traf Cont Dev RR', 'Driving While License Revoked', 'Possession of Ethylone', 'Stalking', 'Possess w/I/Utter Forged Bills', 'Carry Open/Uncov Bev In Pub', 'Burglary Conveyance Unoccup', 'Cash Item w/Intent to Defraud', 'Tampering With Physical Evidence', 'Fail Sex Offend Report Bylaw', 'Uttering Forged Bills', 'Lewd/Lasc Exhib Presence <16yr', 'Burglary Structure Unoccup', 'Possession Of Fentanyl', 'Sel/Pur/Mfr/Del Control Substa', 'Possess Weapon On School Prop', 'Pos Cannabis For Consideration', 'Poss Drugs W/O A Prescription', 'Poss Counterfeit Payment Inst', 'Possession of XLR11', 'Robbery / No Weapon', 'Poss Pyrrolidinovalerophenone W/I/D/S', 'Consp Traff Oxycodone  4g><14g', 'Driving License Suspended', 'Possess Controlled Substance', 'Poss Of Controlled Substance', 'DWI w/Inj Susp Lic / Habit Off', 'Possession of Benzylpiperazine', 'Sex Batt Faml/Cust Vict 12-17Y', 'Fighting/Baiting Animals', 'Alcoholic Beverage Violation-FL', 'False Name By Person Arrest', 'Battery', 'Poss F/Arm Delinq', 'Possession Of Buprenorphine', 'DUI Level 0.15 Or Minor In Veh', 'Contribute Delinquency Of A Minor', 'Fail To Obey Police Officer', 'Principal In The First Degree', 'Robbery / Weapon', 'Possession Of Cocaine', 'Crlty Twrd Child Urge Oth Act', 'Tamper With Victim', 'Burglary Structure Occupied', 'Deliver Cocaine 1000FT School', 'Carrying A Concealed Weapon', 'Felony Driving While Lic Suspd', 'Fleeing Or Attmp Eluding A Leo', 'Sale/Del Cannabis At/Near Scho', 'Battery on Law Enforc Officer', 'Aggravated Battery (Firearm)', 'Poss Of RX Without RX', 'Extradition/Defendants', 'Uttering a Forged Instrument', 'Grand Theft (Motor Vehicle)', 'Delivery of Heroin', 'License Suspended Revoked', 'Agg Fleeing/Eluding High Speed', 'DUI Property Damage/Injury', 'Leave Accd/Attend Veh/Less $50', 'Purchase Cannabis', 'False 911 Call', 'Sexual Battery / Vict 12 Yrs +', 'DUI - Property Damage/Personal Injury', 'Pos Cannabis W/Intent Sel/Del', 'Att Burgl Unoccupied Dwel', 'Poss/Sell/Del/Man Amobarbital', 'Fabricating Physical Evidence', 'Grand Theft Firearm', 'Attempted Burg/Convey/Unocc', 'Solicit To Deliver Cocaine', 'Possession of Cocaine', 'Felony Battery (Dom Strang)', 'Sex Offender Fail Comply W/Law', 'Simulation of Legal Process', 'Corrupt Public Servant', 'Poss Wep Conv Felon', 'Possession Of Methamphetamine', 'Use Of 2 Way Device To Fac Fel', 'Failure To Return Hired Vehicle', 'Possess Countrfeit Credit Card', 'Shoot In Occupied Dwell', 'Possession of Butylone', 'Possess Cannabis 1000FTSch', 'Delivery Of Drug Paraphernalia', 'Prostitution', 'Burglary Assault/Battery Armed', 'Dealing in Stolen Property', 'False Imprisonment', 'Att Burgl Struc/Conv Dwel/Occp', 'Trespass Private Property', 'Poss Unlaw Issue Id', 'Aggravated Battery / Pregnant', 'Failure To Pay Taxi Cab Charge', 'Neglect Child / Bodily Harm', 'Child Abuse', 'Poss of Cocaine W/I/D/S 1000FT Park', 'Neglect Child / No Bodily Harm', 'Felony Batt(Great Bodily Harm)', 'Grand Theft of the 2nd Degree', 'Obtain Control Substance By Fraud', 'Felony Battery w/Prior Convict', 'Viol Pretrial Release Dom Viol', 'Contradict Statement', 'Deliver Cocaine 1000FT Church', 'Throw Deadly Missile Into Veh', 'Attempted Robbery  No Weapon', 'Expired DL More Than 6 Months', 'Trespass Structure w/Dang Weap', 'Aggrav Stalking After Injunctn', 'Falsely Impersonating Officer', 'Violation Of Boater Safety Id', 'Crim Attempt/Solic/Consp', 'Possession Of Clonazepam', 'DOC/Cause Public Danger'], 'age_cat': ['Less than 25', 'Greater than 45', '25 - 45'], 'sex': ['Male', 'Female'], 'race': ['White', 'Other', 'Black'], 'is_recid': ['No', 'Yes']}
{'juv_fel_count': [0.06172839506172839, 0.5044655706890177], 'juv_misd_count': [0.08667695473251029, 0.436850842589599], 'juv_other_count': [0.10828189300411523, 0.4691165284051265], 'priors_count': [3.246141975308642, 4.6937451093381455], 'age': [34.643261316872426, 11.742610980689689], 'days_b_screening_arrest': [-1.7692901234567902, 5.156617166534533]}

In [11]:
df

In [6]:
import pandas as pd

In [12]:
import importlib, os, sys

importlib.reload(analysis)

In [17]:
        pd.options.display.float_format = '{:,.2f}'.format
        dataset_base_dir = "compass_data/"
        dataset_file_name = 'compas-scores-two-years.csv'
        file_path = os.path.join(dataset_base_dir,dataset_file_name)
        temp_df = pd.read_csv(file_path)

In [27]:
%matplotlib
temp_df.count

Using matplotlib backend: TkAgg

<bound method DataFrame.count of          id                 name      first         last  \
0         1     miguel hernandez     miguel    hernandez
1         3          kevon dixon      kevon        dixon
2         4             ed philo         ed        philo
3         5          marcu brown      marcu        brown
4         6   bouthy pierrelouis     bouthy  pierrelouis
...     ...                  ...        ...          ...
7209  10996        steven butler     steven       butler
7210  10997      malcolm simmons    malcolm      simmons
7211  10999      winston gregory    winston      gregory
7212  11000          farrah jean     farrah         jean
7213  11001  florencia sanmartin  florencia    sanmartin

     compas_screening_date     sex         dob  age          age_cat  \
0               2013-08-14    Male  1947-04-18   69  Greater than 45
1               2013-01-27    Male  1982-01-22   34          25 - 45
2               2013-04-14    Male  1991-05-14   24     Less than 25
3               2013-01-13    Male  1993-01-21   23     Less than 25
4               2013-03-26    Male  1973-01-22   43          25 - 45
...                    ...     ...         ...  ...              ...
7209            2013-11-23    Male  1992-07-17   23     Less than 25
7210            2014-02-01    Male  1993-03-25   23     Less than 25
7211            2014-01-14    Male  1958-10-01   57  Greater than 45
7212            2014-03-09  Female  1982-11-17   33          25 - 45
7213            2014-06-30  Female  1992-12-18   23     Less than 25

                  race  ...  v_decile_score  v_score_text  v_screening_date  \
0                Other  ...               1           Low        2013-08-14
1     African-American  ...               1           Low        2013-01-27
2     African-American  ...               3           Low        2013-04-14
3     African-American  ...               6        Medium        2013-01-13
4                Other  ...               1           Low        2013-03-26
...                ...  ...             ...           ...               ...
7209  African-American  ...               5        Medium        2013-11-23
7210  African-American  ...               5        Medium        2014-02-01
7211             Other  ...               1           Low        2014-01-14
7212  African-American  ...               2           Low        2014-03-09
7213          Hispanic  ...               4           Low        2014-06-30

      in_custody  out_custody  priors_count.1 start   end event two_year_recid
0     2014-07-07   2014-07-14               0     0   327     0              0
1     2013-01-26   2013-02-05               0     9   159     1              1
2     2013-06-16   2013-06-16               4     0    63     0              1
3            NaN          NaN               1     0  1174     0              0
4            NaN          NaN               2     0  1102     0              0
...          ...          ...             ...   ...   ...   ...            ...
7209  2013-11-22   2013-11-24               0     1   860     0              0
7210  2014-01-31   2014-02-02               0     1   790     0              0
7211  2014-01-13   2014-01-14               0     0   808     0              0
7212  2014-03-08   2014-03-09               3     0   754     0              0
7213  2015-03-15   2015-03-15               2     0   258     0              1

[7214 rows x 53 columns]>

In [35]:
temp_df[(temp_df['is_recid'] ==1 ) | (temp_df['is_recid'] ==0) ]

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7209,10996,steven butler,steven,butler,2013-11-23,Male,1992-07-17,23,Less than 25,African-American,...,5,Medium,2013-11-23,2013-11-22,2013-11-24,0,1,860,0,0
7210,10997,malcolm simmons,malcolm,simmons,2014-02-01,Male,1993-03-25,23,Less than 25,African-American,...,5,Medium,2014-02-01,2014-01-31,2014-02-02,0,1,790,0,0
7211,10999,winston gregory,winston,gregory,2014-01-14,Male,1958-10-01,57,Greater than 45,Other,...,1,Low,2014-01-14,2014-01-13,2014-01-14,0,0,808,0,0
7212,11000,farrah jean,farrah,jean,2014-03-09,Female,1982-11-17,33,25 - 45,African-American,...,2,Low,2014-03-09,2014-03-08,2014-03-09,3,0,754,0,0
7213,11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,...,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1

In [38]:
temp_df.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid'],
      dtype='object')

In [63]:
temp_df['days_b_screening_arrest'] <= 30

0        True
1        True
2        True
3       False
4       False
        ...
7209     True
7210     True
7211     True
7212     True
7213     True
Name: days_b_screening_arrest, Length: 7214, dtype: bool

In [76]:
#filters out around 15%
temp_df2 = temp_df [ (temp_df['days_b_screening_arrest'] <= 30 ) &  (temp_df['days_b_screening_arrest'] >= -30)  ] 
temp_df2.shape[0]

6172

In [65]:
temp_df['days_b_screening_arrest'].isna()

0       False
1       False
2       False
3        True
4        True
        ...
7209    False
7210    False
7211    False
7212    False
7213    False
Name: days_b_screening_arrest, Length: 7214, dtype: bool

In [74]:
((temp_df['days_b_screening_arrest'] <= 30 )== True).count_nonzero()

AttributeError: 'Series' object has no attribute 'count_nonzero'

In [62]:
temp_df

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,1,miguel hernandez,miguel,hernandez,2013-08-14,Male,1947-04-18,69,Greater than 45,Other,...,1,Low,2013-08-14,2014-07-07,2014-07-14,0,0,327,0,0
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
4,6,bouthy pierrelouis,bouthy,pierrelouis,2013-03-26,Male,1973-01-22,43,25 - 45,Other,...,1,Low,2013-03-26,NaN,NaN,2,0,1102,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7209,10996,steven butler,steven,butler,2013-11-23,Male,1992-07-17,23,Less than 25,African-American,...,5,Medium,2013-11-23,2013-11-22,2013-11-24,0,1,860,0,0
7210,10997,malcolm simmons,malcolm,simmons,2014-02-01,Male,1993-03-25,23,Less than 25,African-American,...,5,Medium,2014-02-01,2014-01-31,2014-02-02,0,1,790,0,0
7211,10999,winston gregory,winston,gregory,2014-01-14,Male,1958-10-01,57,Greater than 45,Other,...,1,Low,2014-01-14,2014-01-13,2014-01-14,0,0,808,0,0
7212,11000,farrah jean,farrah,jean,2014-03-09,Female,1982-11-17,33,25 - 45,African-American,...,2,Low,2014-03-09,2014-03-08,2014-03-09,3,0,754,0,0
7213,11001,florencia sanmartin,florencia,sanmartin,2014-06-30,Female,1992-12-18,23,Less than 25,Hispanic,...,4,Low,2014-06-30,2015-03-15,2015-03-15,2,0,258,0,1

In [59]:
temp_df2[(temp_df2['c_charge_degree']  == "O") ]

Empty DataFrame
Columns: [id, name, first, last, compas_screening_date, sex, dob, age, age_cat, race, juv_fel_count, decile_score, juv_misd_count, juv_other_count, priors_count, days_b_screening_arrest, c_jail_in, c_jail_out, c_case_number, c_offense_date, c_arrest_date, c_days_from_compas, c_charge_degree, c_charge_desc, is_recid, r_case_number, r_charge_degree, r_days_from_arrest, r_offense_date, r_charge_desc, r_jail_in, r_jail_out, violent_recid, is_violent_recid, vr_case_number, vr_charge_degree, vr_offense_date, vr_charge_desc, type_of_assessment, decile_score.1, score_text, screening_date, v_type_of_assessment, v_decile_score, v_score_text, v_screening_date, in_custody, out_custody, priors_count.1, start, end, event, two_year_recid]
Index: []

[0 rows x 53 columns]

In [53]:
temp_df[ temp_df['score_text'] == 'N/A']

Empty DataFrame
Columns: [id, name, first, last, compas_screening_date, sex, dob, age, age_cat, race, juv_fel_count, decile_score, juv_misd_count, juv_other_count, priors_count, days_b_screening_arrest, c_jail_in, c_jail_out, c_case_number, c_offense_date, c_arrest_date, c_days_from_compas, c_charge_degree, c_charge_desc, is_recid, r_case_number, r_charge_degree, r_days_from_arrest, r_offense_date, r_charge_desc, r_jail_in, r_jail_out, violent_recid, is_violent_recid, vr_case_number, vr_charge_degree, vr_offense_date, vr_charge_desc, type_of_assessment, decile_score.1, score_text, screening_date, v_type_of_assessment, v_decile_score, v_score_text, v_screening_date, in_custody, out_custody, priors_count.1, start, end, event, two_year_recid]
Index: []

[0 rows x 53 columns]

In [56]:
 temp_df[(temp_df['score_text'] != 'Medium' ) &  (temp_df['score_text'] != 'High' ) & (temp_df['score_text'] != 'Low' ) ]

Empty DataFrame
Columns: [id, name, first, last, compas_screening_date, sex, dob, age, age_cat, race, juv_fel_count, decile_score, juv_misd_count, juv_other_count, priors_count, days_b_screening_arrest, c_jail_in, c_jail_out, c_case_number, c_offense_date, c_arrest_date, c_days_from_compas, c_charge_degree, c_charge_desc, is_recid, r_case_number, r_charge_degree, r_days_from_arrest, r_offense_date, r_charge_desc, r_jail_in, r_jail_out, violent_recid, is_violent_recid, vr_case_number, vr_charge_degree, vr_offense_date, vr_charge_desc, type_of_assessment, decile_score.1, score_text, screening_date, v_type_of_assessment, v_decile_score, v_score_text, v_screening_date, in_custody, out_custody, priors_count.1, start, end, event, two_year_recid]
Index: []

[0 rows x 53 columns]